/*general styles and barcode viz*/

.grid-container {
  display: grid;
  grid-template-columns: 600px auto;
  grid-column-gap: 75px;
  padding-top: 0px;
  margin-top: 0px;
}
.grid-left {
 grid-column-start: 1;
 margin-left: 30px;
 margin-top: 30px;
 padding-right: 20px;
 line-height: 1.5;
 font-size: 1.25em;
}

.grid-right {
  grid-column-start: 2;
  margin-right: 0;
  padding-right: 0;
 }
.fixed {
  position:fixed;
}
.intro-barcode {
  font-size: 1.5em;
}
.clCode {
  display: block;
  opacity:0;
  transition: all 3s
}
.clCode.makeViz{
  opacity: 1;
  transition: all .1s
}
.f1Code {
  display: block;
  opacity: 0;
  transition: all 3s;
}
.f1Code.makeViz{
  opacity: 1;
  transition: all .1s
}
.f2Code {
  display: block;
  opacity: 0;
  transition: all 3s;
}
.f2Code.makeViz{
  opacity: 1;
  transition: all .1s
}
.custCode {
  display: block;
  opacity: 0;
  transition: all 3s;
}
.custCode.makeViz{
  opacity: 1;
  transition: all .1s
}
.cust2Code {
  display: block;
  opacity: 0;
  transition: all 3s;
}
.cust2Code.makeViz{
  opacity: 1;
  transition: all .1s
}
.distance-toggle {
 display: none;
}
.makeViz{
  display: block;
}
.narrative {
  font-size: 1.25em;
}

div.barcode-wrapper > h2 {
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-left: 40px;
}

body {
  padding-bottom: 5vh;
  background-color:#eef4eb; 
  color: #464745;
  font-family: 'Arimo', sans-serif;
}
.barcode-svg {
  width: 470px ;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-right: 0px;
  padding-top: 50px;
  margin-right: 0px;

  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

article {
  padding-left: 10px;
}
div {
 overflow: visible;
}
h1 {
  /*border-style: solid;*/
  padding-top: 300px;
  text-align: center;
  font-size: 1.25em;
  padding-bottom: 10px;
  background: url('36-Phase-Transparent.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: bolder;

}

h2 {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}


h3 {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}
/*p {
  font-weight: lighter;
}
*/
.chart-one-left svg rect:hover {
  opacity: .7;
}

.chart-one-left svg g {
  fill: #ACACAC;
}

.chart-one-left svg g text.label,
.chart-one-left svg g text.ylabel {
  fill: #2A2A2A;
}

.chart-one-left svg {
background-color: #eef4eb;
}

.chart-one-left #form {
  position: relative;
  right: 10px;
  top: 10px;
  padding-bottom: 20px;
}

.chart-one-left  .axis path,
.chart-one-left  .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.chart-one-left .line {
  stroke: #FF9900;
  fill: none;
  stroke-opacity: 25%;
  stroke-width: 1px;
}

.chart-one-left  .unfocused {
  stroke-opacity: 25%;
}

 .chart-one-left .focused {
  stroke-width: 2px;
  stroke-opacity: 100%;
}


.chart-one-left .bar {
  fill: steelblue;
}

.chart-one-left .tooltip {
  position: absolute;
  z-index: 10;
}

.chart-one-left .tooltip p {
  background-color: rgba(255,255,255,1);
  padding: .5em 1em;
  font-size: 12px;
  line-height: 17px;
  color: black;
}

.chart-one-left .tooltipHeader {
  font-weight: 700;
  font-size: 12.5px;
} 

#chart-two .bar {
  fill: steelblue;
}
#chart-two .bar:hover {
  fill: brown;
}
#chart-two .label {
  fill: black;
  font: 10px sans-serif;
  text-anchor: middle;
 }
#chart-two .toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}


