.App-header {
  padding: 20px;
  background-color:#d3d8d0;

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.grid-container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-column-gap: 50px;
}
.grid-left {
 grid-column-start: 1;
}

.grid-right {
  grid-column-start: 2;
 }
.fixed {
  position:fixed;
}
.intro-barcode {
  font-size: 1.5em;
}
.clEnglish {
  display: none;
}
.f1English {
  display: none;
}
.f2English {
  display: none;
}
.custEnglish {
  display: none;
}
.cust2English {
  display: none;
}
.distance-toggle {
  display: none;
}
.makeViz{
  display: block;
}
div.barcode-wrapper > h2 {
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-left: 40px;
}

body {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
/*  background-color: #b3b7b0;*/
 background-color:#eef4eb; 
  color: #464745;
}
svg {
  width: 40vw ;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 25px;
}
article {
  padding-left: 10px;
}
div {
 overflow: visible;
}

