.App-header {
  padding: 20px;
  background-color:#d3d8d0;

}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.grid-container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-column-gap: 50px;
}
.grid-left {
 grid-column-start: 1;
 margin-left: 20px;
 padding-right: 20px;
}

.grid-right {
  grid-column-start: 2;
  margin-right: 0;
  padding-right: 0;
 }
.fixed {
  position:fixed;
}
.intro-barcode {
  font-size: 1.5em;
}
.clCode {
  display: none;
}
.f1Code {
  display: none;
}
.f2Code {
  display: none;
}
.custCode {
  display: none;
}
.cust2Code {
  display: none;
}
.distance-toggle {
  display: none;
  background-color: red;
}
.makeViz{
  display: block;
}
.narrative {
  font-size: 1.25em;
}

div.barcode-wrapper > h2 {
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-left: 40px;
}

body {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
/*  background-color: #b3b7b0;*/
 background-color:#eef4eb; 
  color: #464745;
}
.barcode-svg {
  width: 60vw ;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 50px;
  padding-right: 0px;
  margin-right: 0px;

  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}
.barcode-svg:hover, .barcode-svg:focus {
  transform: scale(1.05);
}
article {
  padding-left: 10px;
}
div {
 overflow: visible;
}
h1 {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}
h1:hover, h1:focus {
  transform: scale(1.05);
}
h2 {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}
h2:hover, h2:focus {
  transform: scale(1.05);
}

h3 {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}
h3:hover, h3:focus {
  transform: scale(1.05);
}
/*chart one children styles*/

.chart-one-left svg {
  background-color: rgb(255, 255, 255);
}

.chart-one-left svg rect:hover {
  opacity: .7;
}

.chart-one-left svg g {
  fill: #ACACAC;
}

.chart-one-left svg g text.label,
.chart-one-left svg g text.ylabel {
  fill: #2A2A2A;
}

.chart-one-left svg {
  background-color: #fff;
/*  width: 20vw;
  height: 20vh;
*/}

.chart-one-left #form {
      position: relative;
      right: 10px;
      top: 10px;
      padding-bottom: 20px;
}

.chart-one-left  .axis path,
.chart-one-left  .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.chart-one-left .line {
  stroke: #FF9900;
  fill: none;
  stroke-opacity: 25%;
  stroke-width: 1px;
}

.chart-one-left  .unfocused {
  stroke-opacity: 25%;
}

 .chart-one-left .focused {
  stroke-width: 2px;
  stroke-opacity: 100%;
}


.chart-one-left .bar {
  fill: steelblue;
}

.chart-one-left .x.axis path {
  /*display: none;*/
}

.chart-one-left .tooltip {
  position: absolute;
  z-index: 10;
}

.chart-one-left .tooltip p {
  background-color: rgba(255,255,255,1);
  padding: .5em 1em;
  font-size: 12px;
  line-height: 17px;
  color: black;
}

.chart-one-left .tooltipHeader {
  font-weight: 700;
  font-size: 12.5px;
} 



